.homePage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 30px 40px;
  position: relative;
}

.homePageCol {
  max-width: 1000px;
  gap: 45px;
}

.DoneTripsCol {
  width: 30%;
}

.UpcomingTrips {
  width: 30%;
}
