.PreviewCard {
  width: 100%;
  height: calc(120px + 12px * 2);
  background: var(--card-color);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.previewContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.previewHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previewTitle {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
