.Searchbar {
  width: 400px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  z-index: 10;
  padding: 20px 10px;
}

.results {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  margin-top: 68px;
  height: calc(100% - 100px);

  overflow: hidden;
}
.results:hover {
  overflow-y: auto;
}

.card {
  width: inherit;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: none;
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--switcher-color);
  border-radius: 10px;
}
