.TourDates {
  background: var(--icon-bg-color);
  border-radius: 4px;
  padding: 4px 4px;

  svg path {
    fill: var(--icon-color);
  }
}

.FromTo {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
