.Sidebar {
  padding-top: 30px;
  width: 170px;
  height: 100%;
  position: fixed;
  background: var(--sidebar-color);
  color: var(--heading-color);
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
