.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--sidebar-color);
  color: var(--heading-color);
  position: relative;
  transition: width 0.3s;
}
