.explorePage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.ScrollDiv {
  z-index: 10;
  width: calc(450px + 6px);
  height: calc(100% - 20px);
  position: fixed;
  right: 4px;
  overflow: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.exploreTourCard {
  width: 450px;
}

.relativeDiv {
  position: relative;
  width: 100%;
}