.Input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--bg-color);
  color: var(--heading-color);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 12px;

  &::placeholder {
    color: var(--primary-color);
  }

  &::selection {
    background: var(--primary-color);
  }
}

.readonly {
  opacity: 0.5;
}
