.Paragraph {
  font-family: 'Work Sans';
  font: var(--font-m);
  color: var(--paragraph-color);
  font-weight: 400;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
