.TourCard {
  width: 100%;
  padding: 8px;
}

.TourCard.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.tourCardImageContainer {
  max-height: 400px;
  position: relative;
}

.tourCardLikeDiv {
  position: absolute;
  right: 0;
  margin: 8px;
}

.tourCardRatingDiv {
  position: absolute;
  background: var(--card-color);
  border-radius: 12px 12px 0 0;
  height: 40px;
  width: 100%;
  padding: 12px 12px 0 12px;
  bottom: 0;
}

.PinIcon {
  path {
    fill: var(--icon-color);
  }
}

.tourCardContent {
  padding: 12px;
}
