.ScrollDiv {
  z-index: 10;
  width: calc(450px + 6px);
  height: calc(100% - 20px);
  position: fixed;
  right: 4px;
  overflow: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.TourCard {
  width: 450px;
  padding: 8px;
}

.tourCardImageContainer {
  height: 400px;
  position: relative;
}

.tourCardLikeDiv {
  position: absolute;
  right: 0;
  margin: 8px;
}

.tourCardRatingDiv {
  position: absolute;
  background: var(--card-color);
  border-radius: 12px 12px 0 0;
  height: 40px;
  width: 100%;
  padding: 12px 12px 0 12px;
  bottom: 0;
}

.tourCardContent {
  padding: 12px;
}
