.TourCard {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  background-color: var(--card-color);
  z-index: 10;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 450px;
  height: calc(100% - 20px);
  position: fixed;
  right: 10px;
  padding: 8px;
}

.tourCardImageContainer {
  width: 100%;
  height: 400px;
  position: relative;
}

.tourCardLikeDiv {
  position: absolute;
  right: 0;
  margin: 8px;
}

.tourCardImage {
}

.tourCardHotelDiv {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tourCardRatingDiv {
  position: absolute;
  background: var(--card-color);
  border-radius: 12px 12px 8px 8px;
  height: 40px;
  width: 100%;
  padding: 12px 12px 0 12px;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourCardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
}

.tourCardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourCardPriceDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
