.PreviewDate {
  background: #f4f5f7;
  border-radius: 4px;
  padding: 4px 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.FromTo {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-color);
}
