.homePage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.leftCol {
  width: 70%;
}

.rightCol {
  width: 30%;
}
