.Wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
  color: var(--heading-color);
}

.select {
  background: var(--bg-color);
  outline: none;
  color: var(--heading-color);
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--secondary-color);
}

.option {
  color: var(--paragraph-color);
  background: var(--bg-color);
}
