.Button {
  cursor: pointer;
  color: var(--primary-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  border-radius: 12px;
}

.contain {
  background: var(--primary-color);
  color: var(--button-text-color);
  border: none;
}

.fullwidth {
  width: 100%;
}

.text {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
}

.square {
  border-radius: 0;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
