.app_dark_theme {
  --bg-color: #0c111f;
  --on-bg-color: #ffffff; //60%

  --surface-color: #000000;

  --primary-color: #ffffff;
  --on-primary-color: #333333;

  --secondary-color: #f5b100;
  --on-secondary-color: #0c111f;
}
