.app_dark_theme {
  --darkmode-color: #dadada;
  --gray-darkest-color: #1e1e1e;
  --black-lightest-color: #121212;
  --black-light-color: #0a0a0a;

  --bg-color: var(--black-lightest-color);
  --sidebar-color: var(--black-light-color);
  --card-color: var(--gray-darkest-color);
  --search-color: var(--black-light-color);

  --heading-color: var(--white-color);
  --paragraph-color: var(--darkmode-color);
}
