:root {
  --bg-color: #ffffff;
  --surface-color: #f7f7f7;
  --on-bg-color: #0c111f; //60%

  --primary-color: #f5b100;
  --on-primary-color: #ffffff;

  --secondary-color: #7723fe;
  --on-secondary-color: #ffffff;
}
