.PreviewCard {
  height: min-content;
}

.previewImage {
  height: 120px;
  width: 120px;
}

.previewContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.previewHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previewTitle {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
