.bookingPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.leftCol {
  width: 400px;
}

.bookingWishlist {
  box-sizing: border-box;
  position: relative;
  width: 400px;
}

.rightCol {
  width: 100%;
}

.bookingTourCard {
  width: 100%;
}
